.profile-actions {
  margin-top: 2rem;
  display: flex;
  gap: 1rem;
}

.logout-btn, .delete-btn {
  padding: 0.6rem 1.2rem;
  font-size: 1rem;
  border: none;
  border-radius: 1px;
  cursor: pointer;
}

.delete-btn {
  background-color: #57110c;
  color: white;
}

.logout-btn:hover {
  background-color: #828384;
}

.delete-btn:hover {
  background-color: #3b0c08;
}